/.phpcs-cache
/.psalm-cache
/.phpunit.cache
/clover.xml
/coveralls-upload.json
/phpunit.xml
/vendor/
/.env
/sumn.php
/client_secret_149280689257-fp2s5l3ru30aak2nlsgrfsifvr9mk4qh.apps.googleusercontent.com.json
/client_secret_149280689257-fp2s5l3ru30aak2nlsgrfsifvr9mk4qh.apps.googleusercontent.com.json:Zone.Identifier